.overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    // z-index: -10;

}

.sidemenu-header{
    display: flex;
    position: absolute;
    top: 10px;
    // left: 10px;
    right: 0;
    width: 100%;
    color: #a28964;
    background-color: pink;
    border: none;
    // align-items: center;
    padding-right:10px;
    justify-content: flex-end;
    
    .cross-button{
        height: 50px;
        width: 50px;
        // font: inherit;
        cursor: pointer;
    }
}

.menu-items{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: #eae7e0;
    // z-index: 11;
    color: #fff;
    transition: transform 0.3s;
    // animation: translateX 0.5s ease-in-out;

    .linkName{
        text-decoration: none;
        color: #a28964;
    }

    .listItem:hover{
        // text-decoration: underline;
        // background-color: ();
        background-color: rgb(162, 137, 100,0.3);
        transition: all 0.7s;
    }
    
}

.menu-items.open{
    transform: translateX(0);
}

.menu-items.closed{
    transform: translateX(-100%);
}

